@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

*,
*::after, 
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(241, 191, 138);
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width:100vw;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
  flex-grow: 1;
}

.back{ 
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.goku {
 
  height: 200px;
  width: 150px;
  background-image: url("./goku.png");
  background-size: cover;
  animation: animar 1s infinite alternate;
}

.sombra {
  height: 90px;
  width: 80px;
  background: #333;
  border-radius: 50%;
  transform: rotateX(-70deg);
  animation: sombra 1s infinite alternate;
}

@keyframes animar {
  to {
    transform: translateY(-15px);
  }
}
@keyframes sombra {
  to {
    transform: scale(0.6) rotateX(-40deg);
    opacity: 0.2;
  }}

.container-1 {

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  width:100vw;
  height: 250px;
  background: #356ea9;
  border-radius: 32px;
  margin-bottom: 20px;
}
.container-1 button {
  display: inline;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #dbdbdb;
  border-radius: 10px;
  background-color: #ff0000;
  color: #090909;
  transition: all 0.2s ease;
}

.container-1 textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  padding: 2px;
  font-size: 16px;
  resize: none;
  background: transparent;
  color: #000;
}

textarea::placeholder {
  color: #000;
  text-transform: uppercase;
}

.container-message {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 100vw;
  height: 250px;
  background: #db5942;
  border-radius: 32px;
 
}

.container-2{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;

}

#mostrar_mensaje {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 2px;
  font-size: 16px;
  resize: none;
  background: transparent;
  color: #000;
}

.copy-button{
  display: flex;
  justify-content: center;
  height: 10%;
  margin-top: 20px;
}

#copiar {
  
  font-size: 13px;
  font-weight: 0;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  font-family: monospace;
  border: 1px solid black;
  border-radius: 10px;
  height: 20px;
  width: 50px;
  background-color: #356ea9;
}
#copiar:hover {
  background-color: #676eec;
  border-color: #ff4800;
  transform: scale(1.05);
}

@media screen and (min-width: 600px) {

  body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: baseline;
  }
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
  }

  .back{
    display:  flex;
    width: 30vw;
    height: 40vh;
    align-self: flex-start;
    order: 2;
  }
  .goku{
    height: 200px;
  }
  .container-1{
    display: flex;
    justify-content: center;
    width: 30vw;
    align-self: center;
    order: 1;
    margin-left: 10px;
    margin-top: 20px;
  }

  .container-1 .buttons{
    display: flex;
    flex-direction: column;
  }
  .container-message{
    display: flex;
    width: 30vw;
    flex-direction: column;
    align-self: center;
    order: 3;
    margin-right: 10px;
  }


  }

  @media screen and (min-width: 1020px){

    body{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      min-height: 100vh;
      align-items: baseline;
    }
    .container{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100vw;
    }
  
    .back{
      display:  flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 30vw;
      height: 80vh;
      align-self: center;
      order: 2;
    }
    .goku {

      display: flex;
      height: 300px;
      width: 210px;
      padding-right: 20px;
      background-image: url("./goku.png");
      background-size: cover;
      object-fit: cover;
      animation: animar 1s infinite alternate;
    }
    
    .sombra {

      width: 300px;
      background: #333;
      border-radius: 50%;
      transform: rotateX(-70deg);
      animation: sombra 1s infinite alternate;
    }
    .container-1{
      display: flex;
      justify-content: center;
      width: 30vw;
      align-self: center;
      order: 1;
      margin-left: 10px;
      margin-top: 20px;
    }
  
    .container-1 .buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .container-message{
      display: flex;
      width: 30vw;
      flex-direction: column;
      align-self: center;
      order: 3;
      margin-right: 10px;
    }
  
  }

/*.back {
  width: 400px;
  height: 500px;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.goku {
  height: 400px;
  width: 300px;
  background-image: url("./goku.png");
  background-size: cover;
  animation: animar 1s infinite alternate;
}

.sombra {
  height: 100px;
  width: 200px;
  background: #333;
  border-radius: 50%;
  transform: rotateX(-70deg);
  animation: sombra 1s infinite alternate;
}

@keyframes animar {
  to {
    transform: translateY(-50px);
  }
}
@keyframes sombra {
  to {
    transform: scale(0.6) rotateX(-70deg);
    opacity: 0.2;
  }
}

.container {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0;
  bottom: 400px;
  z-index: 2;
  font-family: "Poppins", sans-serif;
}
.container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
  gap: 10px;
  width: 300px;
  height: 100px;
  background: #356ea9;
  border-radius: 32px;
}
.buttons {
  display: inline;
}

button {
  display: inline;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #dbdbdb;
  border-radius: 10px;
  background-color: #ff0000;
  color: #090909;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #ff9900;
  border-color: #ff9900;
  color: #fff;
  transform: scale(1.05);
}

textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  padding: 2px;
  font-size: 16px;
  resize: none;
  background: transparent;
  color: #000;
}

textarea::placeholder {
  color: #000;
  text-transform: uppercase;
}
.container-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  gap: 10px;
  margin-left: 50px;
  font-size: 20px;
  width: 300px;
  height: 100px;
  background: #e65810;
  border-radius: 32px;
  z-index: 2;
}

#mostrar_mensaje {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  padding: 2px;
  font-size: 16px;
  resize: none;
  background: transparent;
  color: #000000;
}

#copiar {
  display: inline;
  font-size: 13px;
  font-weight: 0;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #267bf3;
  border-radius: 10px;
  background-color: #3385ea;
  color: #fff;
  transition: all 0.2s ease;
  color: #000000;
  font-family: monospace;
}
#copiar:hover {
  background-color: #bf2e06;
  border-color: #ff9900;
  transform: scale(1.05);
} */
